.nav {
    display: flex;
    width: 100%;

    &__cont {
        max-width: 1170px;
        width: 100%;
        min-height: 50px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
    }
    &__menu {
        display: none;
        width: 100%;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 500;
        padding: 5px;
        cursor: pointer;
    }
    &__ul {
        display: flex;
        flex-wrap: wrap;
        & > li {
            list-style-type: none;
            line-height: 39px;
            margin-right: 40px;
        }

        & > li > a {
            padding: 5px;
            display: flex;
            text-transform: uppercase;

            font-weight: 600;
 
            text-decoration: none;
            color: $base;
            position: relative;
            box-sizing: border-box;
            &:hover {
                cursor: pointer;
                color: $pinc;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                height: 0;
                border-top: 2px solid transparent;
            }
            &:hover:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                height: 0;
                border-top: 2px solid $pinc;
            }
            &:active {
                cursor: pointer;
                color: $pincActive;
            }
        }
        & > li:last-of-type {
            margin-right: 0;
        }
    }
}

@include mq(745, max) {
    .nav {
        display: flex;
        width: 100%;

        &__cont {
          
            max-width: 1170px;
            width: 100%;
            min-height: 50px;
            display: flex;
            align-items: center;
            padding: 0 15px;
            margin: 0 auto;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
        }
        &__menu {
            display: flex;
            width: 100%;
            justify-content: center;
            text-transform: uppercase;
            font-weight: 500;
            padding: 5px;
        }
        &__ul {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            z-index: 250;
            flex-direction: column;
            width: 100%;
            align-items: center;
            background-color: rgb(170, 169, 169);
            top: 50px;
            right: 0;
            transform: scaleY(0);
            transform-origin: 0 0;
            transition: transform 0.5s;
            & > li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-right: 0;
                list-style-type: none;
                padding: 5px 0;
                border-bottom: 1px solid rgb(226, 225, 225);
            }
            & > li > a {
                text-transform: uppercase;

                font-weight: 600;
               

                text-decoration: none;
                color: $base;
                &:hover {
                    cursor: pointer;
                    color: $base;
                }
                &:active {
                    cursor: pointer;
                    color: $base;
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    width: 100%;
                    height: 0;
                    border-top: 2px solid transparent;
                }
                &:hover:after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    width: 100%;
                    height: 0;
                    border-top: 2px solid transparent;
                }
            }

            & > li:last-of-type {
             
                margin: 0;
            }
        }
        &__ul-active {
            transform: scaleY(1);
        }
    }
}
