.container-error {
  max-width: 1170px;
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
